html,
body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e7e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 75%;
    margin: 6px;
}

.paymethod {
    background-color: white;
    width: 40%;
    height: 100%;
    margin: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 3px;
}

.paymethod span {
    font-weight: 800;
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.5);
    margin-right: 4px;
}

.paymethod img {
    width: 20%;
    border-radius: 100px;
    background-color: rgb(152, 206, 247);
    border: 1px solid;
}

.mp {
    background: rgb(152, 206, 247);
    background: linear-gradient(135deg, rgb(67, 163, 236) 0%, rgba(79, 178, 252, 1) 100%);
    border-color: rgb(0, 128, 255);
    box-shadow: rgb(67, 163, 236, .3) 2px 0px 30px;
    transition: .5s ease;
}

.mp:hover {
    box-shadow: rgb(67, 163, 236) 20px 0px 80px;
    transition: .5s ease;
}

.mp img {
    border-color: rgb(0, 128, 255);
}

.bp {
    background: rgb(152, 247, 158);
    background: linear-gradient(135deg, rgb(64, 243, 75) 0%, rgb(25, 133, 59) 100%);
    border-color: rgb(55, 193, 96);
    box-shadow: rgb(64, 243, 75, .3) 2px 0px 30px;
    transition: .5s ease;
}

.bp:hover {
    box-shadow: rgb(64, 243, 75) 20px 0px 80px;
    transition: .5s ease;
}

.bp img {
    border-color: rgb(55, 193, 96);
}

.bn {
    background: rgb(45, 106, 128);
    background: linear-gradient(135deg, rgb(49, 151, 188) 0%, rgb(9, 57, 89) 100%);
    border-color: rgb(44, 145, 182);
    box-shadow: rgb(49, 151, 188, .3) 2px 0px 30px;
    transition: .5s ease;
}

.bn:hover {
    box-shadow: rgb(49, 151, 188) 20px 0px 80px;
    transition: .5s ease;
}

.bn img {
    border-color: rgb(44, 145, 182);
}

.bc {
    background: rgb(1, 48, 255);
    background: linear-gradient(135deg, rgb(1, 48, 255) 0%, rgb(49, 151, 188) 100%);
    border-color: rgb(0, 166, 255);
    box-shadow: rgb(1, 48, 255, .3) 2px 0px 30px;
    transition: .5s ease;
}

.bc:hover {
    box-shadow: rgb(1, 48, 255) 20px 0px 80px;
    transition: .5s ease;
}

.bc img {
    border-color: rgb(0, 166, 255);
}

.bs {
    background: rgb(224, 6, 17);
    background: linear-gradient(135deg, rgb(224, 6, 17) 0%, rgb(255, 91, 113) 100%);
    border-color: rgb(189, 2, 2);
    box-shadow: rgb(224, 6, 17, .3) 2px 0px 30px;
    transition: .5s ease;
}

.bs:hover {
    box-shadow: rgb(224, 6, 17) 20px 0px 80px;
    transition: .5s ease;
}

.bs img {
    border-color: rgb(189, 2, 2);
}

.bmc {
    background: rgb(250, 188, 0);
    background: linear-gradient(135deg, rgb(250, 188, 0) 0%, rgb(233, 233, 152) 100%);
    border-color: rgb(207, 190, 29);
    box-shadow: rgb(250, 188, 0, .3) 2px 0px 30px;
    transition: .5s ease;
}

.bmc:hover {
    box-shadow: rgb(250, 188, 0) 20px 0px 80px;
    transition: .5s ease;
}

.bmc img {
    border-color: rgb(207, 190, 29);
}

.bmcb {
    padding-inline: 24px;
    padding-block: 8px;
    margin-top: 4px;
}

.cbucont {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 20%;
    max-width: 80%;
}

button {
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.406);
    margin-left: 4px;
    cursor: pointer;
}

svg {
    width: 1.125rem;
    height: 1.125rem;
    color: #1F2937;
}

@media screen and (max-width: 768px) {
    body {
        padding-block: 350px;
    }

    .row {
        flex-direction: column;
        height: auto;
    }

    .paymethod {
        width: 75%;
        height: 100%;
        padding: 16px;
    }

    .bmc {
        padding-block: 48px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #343940
    }

    ;
}