@media only screen and (max-width:768px) {

    li,
    nav {
        align-items: center
    }

    .navwsp,
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
    }

    .cat {
        font-size: 24px;
    }

    .hid {
        font-size: 0px;
        visibility: hidden;
        color: white;
        width: 0;
        height: 0;
    }

    .navwsp,
    p,
    input {
        text-align: center
    }

    .navwsp,
    input,
    input:hover {
        transition: 1s
    }

    .info,
    \ .navwsp a {
        text-decoration: none
    }

    body {
        background-image: url(/assets/img/bgm.webp);
        background-repeat: no-repeat;
        background-size: 110% 120%
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden
    }

    nav {
        background-color: rgb(0, 0, 0, .6);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-top: -30;
        padding-top: 5px;
        height: 25%;
        width: 100vw
    }

    li {
        float: left
    }

    .navlogo {
        margin-top: 4%;
        float: left;
        align-items: center
    }

    .navwsp {
        margin-top: 8%;
        margin-left: 35%;
        color: black;
        background: linear-gradient(90deg, #83f95b 0, #3df2a4 55%, #88ed9c 100%);
        border-radius: 8px;
        width: 25%;
        height: 75%;
        font-size: 24px;
        padding-top: 7%;
        padding-bottom: 7%
    }

    .fecha,
    p {
        color: #000
    }

    .wspsvg {
        visibility: visible;
        width: 32px;
        margin-top: 0
    }

    \ .navwsp a {
        color: inherit
    }

    .navwsp:hover {
        background: linear-gradient(90deg, #65c047 0, #2db47a 55%, #63ac72 100%);
        transition: 5s
    }

    h1 {
        font-size: 36px
    }

    p {
        font-size: 24px
    }

    .fecha {
        font-size: 28px
    }

    .container {
        background-color: #fff;
        max-width: 80%;
        height: 100%;
        border-radius: 12px;
        transition: 1s ease-in-out;
        padding-bottom: 5%
    }

    .container:hover {
        box-shadow: 0 100px 400px 0 #00ff9d;
        transition: 1s ease-in-out
    }

    .fecha {
        font-weight: 500;
        font-style: italic
    }

    input {
        height: 5vh;
        width: 75%;
        border: none;
        border-radius: 8px;
        margin-bottom: 2vh;
        font-size: 24px;
    }

    input:hover {
        background-color: #e0dede
    }

    label {
        font-size: 36px
    }

    .oficial {
        background-color: rgb(0, 100, 0, .5)
    }

    .brecha {
        background-color: rgba(93, 100, 0, .5)
    }

    .blue {
        background-color: rgb(0, 0, 100, .5)
    }

    .container img {
        margin-top: 1vh
    }

    .navwsp p {
        font-size: 0px;
        visibility: hidden;
    }

    .bad,
    .lad,
    .rad,
    footer {
        visibility: hidden;
        width: 0;
        height: 0
    }

    .steam {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 19px;
        background-color: #FFFFFF;
        border: none;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 13px;
        width: 90%;
        color: black;
        text-align: left;
        padding: 1em;
        padding-left: 2em;
        justify-content: center;
        transition: 1s all;
        cursor: pointer;
    }

    .steam:hover {
        box-shadow: #00adee 0px 0px 20px;
        transition: 1s all;
    }

    .steam img {
        float: right !important;
        margin-left: auto;
    }

    .cripto {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 19px;
        background-color: #FFFFFF;
        border: none;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 13px;
        width: 90%;
        color: black;
        text-align: left;
        padding: 1em;
        padding-left: 2em;
        justify-content: center;
        transition: 1s all;
        cursor: pointer;
    }

    .cripto:hover {
        box-shadow: #ee00c6 0px 0px 20px;
        transition: 1s all;
    }

    .cripto img {
        float: right !important;
        margin-left: auto;
    }
     .html {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 19px;
        background-color: #FFFFFF;
        border: none;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 13px;
        width: 90%;
        color: black;
        text-align: left;
        padding: 1em;
        padding-left: 2em;
        justify-content: center;
        transition: 1s all;
        cursor: pointer;
    }

    .html:hover {
        box-shadow: #fc7b03 0px 0px 20px;
        transition: 1s all;
    }

    .html img {
        float: right !important;
        margin-left: auto;
    }
    .but {
        margin-top: 20px;
        display: inline-flex;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 0.5rem;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        text-align: center;
        color: #111827;
        background: #389bf7;
        transition: 1s all;
        border: none;
        cursor: pointer;
    }

    .but:hover {
        background: #5badfa;
        transition: 1s all;
        box-shadow: #5badfa 0px 0px 20px;
    }
    .butsvg {
        width: 1rem;
        height: 1rem;
        margin-right: 10px;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .partner {
        background-color: #fc7b03;
        border-radius: 4px;
        margin-left: 10px;
    }
}

@media only screen and (min-width:768px) {

    .navwsp,
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
    }

    .navwsp,
    p,
    input {
        text-align: center
    }

    .navwsp,
    .navwsp:hover,
    input,
    input:hover {
        transition: 1s
    }

    .cat {
        font-size: 24px;
    }

    input,
    label {
        font-size: 24px
    }

    .info,
    .navwsp a {
        text-decoration: none
    }

    body {
        background-image: url(/assets/img/bg.webp);
        background-repeat: no-repeat;
        background-size: 100% 120%
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden
    }

    nav {
        background-color: rgb(0, 0, 0, .6);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-top: -30;
        padding: 20px 20px 0
    }

    .navlogo,
    li {
        float: left
    }

    .navwsp {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255, .7);
        background: linear-gradient(90deg, #83f95b 0, #3df2a4 55%, #88ed9c 100%);
        border-radius: 8px;
        width: 200px;
        height: 50px;
        font-size: 10px;
        float: right
    }

    .lad,
    .rad,
    .wide {
        margin-top: 5%
    }

    .fecha,
    p {
        color: #000
    }

    .wspsvg {
        visibility: hidden;
        width: 0;
        height: 0
    }


    .navwsp p {
        font-size: 20px;
        color: black;
    }

    .navwsp:hover {
        background: linear-gradient(90deg, #65c047 0, #2db47a 55%, #63ac72 100%)
    }

    .container {
        background-color: #fff;
        max-width: 40%;
        height: 110%;
        border-radius: 12px;
        transition: 1s ease-in-out;
        padding-bottom: 2%
    }

    .container:hover {
        box-shadow: 0 100px 400px 0 #ffffff;
        transition: 1s ease-in-out
    }

    .fecha {
        font-weight: 500;
        font-style: italic;
        font-size: 24px
    }

    input {
        height: 5vh;
        border: none;
        border-radius: 8px;
        margin-bottom: 2vh;
        font-size: 24px;
    }

    input:hover {
        background-color: #e0dede
    }

    .oficial {
        background-color: rgb(0, 100, 0, .5)
    }

    .brecha {
        background-color: rgba(93, 100, 0, .5)
    }

    .blue {
        background-color: rgb(0, 0, 100, .5)
    }

    .lad {
        float: left
    }

    .rad {
        float: right
    }

    .hid {
        visibility: hidden;
        width: 0;
        height: 0;
        font-size: 0;
    }

    .steam {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 19px;
        background-color: #FFFFFF;
        border: none;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 13px;
        width: 90%;
        color: black;
        text-align: left;
        padding: 1em;
        padding-left: 2em;
        justify-content: center;
        transition: 1s all;
        cursor: pointer;
    }

    .steam:hover {
        box-shadow: #00adee 0px 0px 20px;
        transition: 1s all;
    }

    .steam img {
        float: right !important;
        margin-left: auto;
    }

    .cripto {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 19px;
        background-color: #FFFFFF;
        border: none;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 13px;
        width: 90%;
        color: black;
        text-align: left;
        padding: 1em;
        padding-left: 2em;
        justify-content: center;
        transition: 1s all;
        cursor: pointer;
    }

    .cripto:hover {
        box-shadow: #ee00c6 0px 0px 20px;
        transition: 1s all;
    }

    .cripto img {
        float: right !important;
        margin-left: auto;
    }
    .html {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 19px;
        background-color: #FFFFFF;
        border: none;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 13px;
        width: 90%;
        color: black;
        text-align: left;
        padding: 1em;
        padding-left: 2em;
        justify-content: center;
        transition: 1s all;
        cursor: pointer;
    }

    .html:hover {
        box-shadow: #fc7b03 0px 0px 20px;
        transition: 1s all;
    }

    .html img {
        float: right !important;
        margin-left: auto;
    }

    .but {
        margin-top: 20px;
        display: inline-flex;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 0.5rem;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        text-align: center;
        color: #111827;
        background: #389bf7;
        transition: 1s all;
        border: none;
        cursor: pointer;
    }

    .but:hover {
        background: #5badfa;
        transition: 1s all;
        box-shadow: #5badfa 0px 0px 20px;
    }
    .butsvg {
        width: 1rem;
        height: 1rem;
        margin-right: 10px;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .partner {
        background-color: #fc7b03;
        border-radius: 4px;
        margin-left: 10px;
    }
}
