---
import Layout from "../layouts/layout.astro";
const metadata = {
    title: "Comi Dólar | Donaciones",
    description: {
        meta: "Mostra tu apoyo a la Comisión de Dólar del Colegio Nacional de Buenos Aires (ComiDolar) dejando tu donación a voluntad. Sin obligación de compra. Proyecto sin fines de lucro.",
        og: "Mostra tu apoyo a la Comisión de Dólar del Colegio Nacional de Buenos Aires (ComiDolar) dejando tu donación a voluntad. Sin obligación de compra. Proyecto sin fines de lucro.",
    },
    canonical: "https://comidolar.com.ar/donaciones",
};
---

<Layout bodyclass="h-full pt-12" metadata={metadata}>
    <div class="row">
        <div class="paymethod mp">
            <img src="../assets/img/mp.webp" />
            <div class="cbucont">
                <span>CVU:</span>
                <p id="cbu1">0000003100092757058924</p>
                <button onclick="copyToClipboard('cbu1')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="cbucont">
                <span>ALIAS:</span>
                <p id="alias1">el.gena</p>
                <button onclick="copyToClipboard('alias1')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="paymethod bp">
            <img src="../assets/img/bp.webp" />
            <div class="cbucont">
                <span>CBU:</span>
                <p id="cbu2">0140012003401253312851</p>
                <button onclick="copyToClipboard('cbu2')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="cbucont">
                <span>ALIAS:</span>
                <p id="alias2">el.gena.prov</p>
                <button onclick="copyToClipboard('alias2')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="paymethod bn">
            <img src="../assets/img/bn.webp" />
            <div class="cbucont">
                <span>CBU:</span>
                <p id="cbu3">0110015030001511859447</p>
                <button onclick="copyToClipboard('cbu3')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="cbucont">
                <span>ALIAS:</span>
                <p id="alias3">el.gena.bna</p>
                <button onclick="copyToClipboard('alias3')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="paymethod bc">
            <img src="../assets/img/bc.webp" />
            <div class="cbucont">
                <span>CBU:</span>
                <p id="cbu4">0290020910000602047211</p>
                <button onclick="copyToClipboard('cbu4')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="cbucont">
                <span>ALIAS:</span>
                <p id="alias4">el.gena.cdad</p>
                <button onclick="copyToClipboard('alias4')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="paymethod bs">
            <img src="../assets/img/bs.webp" />
            <div class="cbucont">
                <span>CBU:</span>
                <p id="cbu5">0720032830000001024851</p>
                <button onclick="copyToClipboard('cbu5')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="cbucont">
                <span>ALIAS:</span>
                <p id="alias5">el.gena.std</p>
                <button onclick="copyToClipboard('alias5')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="paymethod nx">
            <img src="../assets/img/nx.webp" />
            <div class="cbucont">
                <span>CBU:</span>
                <p id="cbu6">4530000800016413921560</p>
                <button onclick="copyToClipboard('cbu6')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="cbucont">
                <span>ALIAS:</span>
                <p id="alias6">el.gena.nja</p>
                <button onclick="copyToClipboard('alias6')">
                    <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8c0-.6.4-1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="paymethod bmc">
            <img src="../assets/img/bmc.webp" />
            <a href="https://www.buymeacoffee.com/genadev" target="_blank"
                ><button class="bmcb"> IR </button></a
            >
        </div>
    </div>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            background-color: #e7e6e6;
        }

        .row {
            display: flex;
            flex-wrap: wrap; /* Agregamos flex-wrap para envolver las tarjetas */
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin: 6px;
        }

        .paymethod {
            background-color: white;
            width: 30%; /* Cambiamos el ancho a 30% para que se ajusten tres tarjetas por fila en pantallas grandes */
            min-width: 250px; /* Establecemos un ancho mínimo para cada tarjeta */
            height: 100%;
            margin: 6px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid 3px;
            padding: 20px;
        }

        .paymethod img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .cbucont {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .cbucont span {
            font-weight: 600;
            margin-right: 4px;
        }

        button {
            margin-left: 8px;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0.4);
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #1f2937;
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.6);
        }

        .mp {
            background: rgb(152, 206, 247);
            background: linear-gradient(
                135deg,
                rgb(67, 163, 236) 0%,
                rgba(79, 178, 252, 1) 100%
            );
            border-color: rgb(0, 128, 255);
            box-shadow: rgb(67, 163, 236, 0.3) 2px 0px 30px;
            transition: 0.5s ease;
        }

        .mp:hover {
            box-shadow: rgb(67, 163, 236) 20px 0px 80px;
            transition: 0.5s ease;
        }

        .mp img {
            border-color: rgb(0, 128, 255);
        }

        .bp {
            background: rgb(152, 247, 158);
            background: linear-gradient(
                135deg,
                rgb(64, 243, 75) 0%,
                rgb(25, 133, 59) 100%
            );
            border-color: rgb(55, 193, 96);
            box-shadow: rgb(64, 243, 75, 0.3) 2px 0px 30px;
            transition: 0.5s ease;
        }

        .bp:hover {
            box-shadow: rgb(64, 243, 75) 20px 0px 80px;
            transition: 0.5s ease;
        }

        .bp img {
            border-color: rgb(55, 193, 96);
        }

        .bn {
            background: rgb(45, 106, 128);
            background: linear-gradient(
                135deg,
                rgb(49, 151, 188) 0%,
                rgb(9, 57, 89) 100%
            );
            border-color: rgb(44, 145, 182);
            box-shadow: rgb(49, 151, 188, 0.3) 2px 0px 30px;
            transition: 0.5s ease;
        }

        .bn:hover {
            box-shadow: rgb(49, 151, 188) 20px 0px 80px;
            transition: 0.5s ease;
        }
        
        .bn img {
            border-color: rgb(44, 145, 182);
        }

        .nx {
            background: rgb(253, 148, 0);
            background: linear-gradient(
                135deg,
                rgb(253, 148, 0) 0%,
                rgb(251, 90, 4) 100%
            );
            border-color: rgb(253, 148, 0);
            box-shadow: rgb(251, 90, 4) 2px 0px 30px;
            transition: 0.5s ease;
        }
        .nx img {
            border-color: rgb(251, 90, 4);
        }
        .nx:hover {
            box-shadow: rgb(253, 148, 0) 20px 0px 80px;
            transition: 0.5s ease;
        }
        .bc {
            background: rgb(1, 48, 255);
            background: linear-gradient(
                135deg,
                rgb(1, 48, 255) 0%,
                rgb(49, 151, 188) 100%
            );
            border-color: rgb(0, 166, 255);
            box-shadow: rgb(1, 48, 255, 0.3) 2px 0px 30px;
            transition: 0.5s ease;
        }

        .bc:hover {
            box-shadow: rgb(1, 48, 255) 20px 0px 80px;
            transition: 0.5s ease;
        }

        .bc img {
            border-color: rgb(0, 166, 255);
        }

        .bs {
            background: rgb(224, 6, 17);
            background: linear-gradient(
                135deg,
                rgb(224, 6, 17) 0%,
                rgb(255, 91, 113) 100%
            );
            border-color: rgb(189, 2, 2);
            box-shadow: rgb(224, 6, 17, 0.3) 2px 0px 30px;
            transition: 0.5s ease;
        }

        .bs:hover {
            box-shadow: rgb(224, 6, 17) 20px 0px 80px;
            transition: 0.5s ease;
        }

        .bs img {
            border-color: rgb(189, 2, 2);
        }

        .bmc {
            background: rgb(250, 188, 0);
            background: linear-gradient(
                135deg,
                rgb(250, 188, 0) 0%,
                rgb(233, 233, 152) 100%
            );
            border-color: rgb(207, 190, 29);
            box-shadow: rgb(250, 188, 0, 0.3) 2px 0px 30px;
            transition: 0.5s ease;
        }

        .bmc:hover {
            box-shadow: rgb(250, 188, 0) 20px 0px 80px;
            transition: 0.5s ease;
        }

        .bmc img {
            border-color: rgb(207, 190, 29);
        }

        .bmcb {
            padding-inline: 24px;
            padding-block: 8px;
            margin-top: 4px;
        }

        @media screen and (max-width: 1080px) {
            .paymethod {
                width: 85%; /* Cambiamos el ancho al 85% para que se ajusten dos tarjetas por fila en pantallas más pequeñas */
            }
        }

        @media screen and (max-width: 768px) {
            .paymethod {
                width: 100%; /* Cambiamos el ancho al 100% para que las tarjetas ocupen toda la pantalla en dispositivos móviles */
            }
        }
    </style>
    <script is:inline>
        function copyToClipboard(elementId) {
            var copyText = document.getElementById(elementId);
            var tempInput = document.createElement("input");
            tempInput.value = copyText.textContent;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert("¡Copiado al portapapeles!");
        }
    </script>
</Layout>
