---
import Layout from "../layouts/layout.astro";
import { PAYMENT_METHODS } from "../db/payment.ts";
import { DONATION_TABLE } from "../db/donation_table.ts";
import DonationTable from "../components/DonationTable.tsx";
import PaymentMethod from "../components/PaymentMethod.astro";

const metadata = {
    title: "Comi Dólar | Donaciones",
    description: {
        meta: "Mostra tu apoyo a la Comisión de Dólar del Colegio Nacional de Buenos Aires (ComiDolar) dejando tu donación a voluntad. Sin obligación de compra. Proyecto sin fines de lucro.",
        og: "Mostra tu apoyo a la Comisión de Dólar del Colegio Nacional de Buenos Aires (ComiDolar) dejando tu donación a voluntad. Sin obligación de compra. Proyecto sin fines de lucro.",
    },
    canonical: "https://comidolar.com.ar/donaciones",
    og: {
        image: "https://comidolar.com.ar/assets/img/opengraph/donaciones.png",
        video: "https://comidolar.com.ar/assets/img/opengraph/video.webm",
    },
};
---

<Layout bodyclass="h-full pt-12" metadata={metadata}>
    <main class="grid grid-cols-1 lg:grid-cols-[70%_30%] gap-4 pr-4 items-start">
        <section class="payment-methods grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 p-6">
            {PAYMENT_METHODS.map((method) => (
                <div>
                    <PaymentMethod {...method} />
                </div>
            ))}
        </section>        
    
        <aside class="donation-table w-full max-w-full lg:max-w-[400px] mt-5 p-4 bg-neutral-200 dark:bg-neutral-900 text-neutral-800 dark:text-white rounded-lg shadow">
            <DonationTable client:load donationTable={DONATION_TABLE} />
        </aside>
    </main>    
</Layout>
