---
import Layout from "../layouts/layout.astro";
import { PAYMENT_METHODS } from "../db/payment.js";
import { DONATION_TABLE } from "../db/donation_table.js";
import DonationTable from "../components/DonationTable.jsx";
import PaymentMethod from "../components/PaymentMethod.astro";

const metadata = {
    title: "Comi Dólar | Donaciones",
    description: {
        meta: "Mostra tu apoyo a la Comisión de Dólar del Colegio Nacional de Buenos Aires (ComiDolar) dejando tu donación a voluntad. Sin obligación de compra. Proyecto sin fines de lucro.",
        og: "Mostra tu apoyo a la Comisión de Dólar del Colegio Nacional de Buenos Aires (ComiDolar) dejando tu donación a voluntad. Sin obligación de compra. Proyecto sin fines de lucro.",
    },
    canonical: "https://comidolar.com.ar/donaciones",
    og: {
        image: "https://comidolar.com.ar/assets/img/opengraph/donaciones.png",
        video: "https://comidolar.com.ar/assets/img/opengraph/video.webm",
    },
};
---

<Layout bodyclass="h-full pt-12" metadata={metadata}>
    <main class="flex flex-col lg:flex-row items-center w-full lg:items-start lg:w-auto">
        <section class="row">
            {PAYMENT_METHODS.map((method) => <PaymentMethod {...method} />)}
        </section>

        <DonationTable client:load donationTable={DONATION_TABLE} />
    </main>

    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            background-color: #e7e6e6;
        }
        .row {
            display: flex;
            flex-wrap: wrap; /* Agregamos flex-wrap para envolver las tarjetas */
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin: 6px;
        }
    </style>
</Layout>
