---
import Layout from "@/layouts/layout.astro";

const metadata = {
    title: "Comi Dólar | Política de privacidad",
    description: {
        meta: "Política de privacidad de Comi Dólar, la comisión de dólar del Colegio Nacional de Buenos Aires. Te explicamos como tratamos tus datos personales, para que no tengas preocupaciones visitando el sitio.",
        og: "Política de privacidad de Comi Dólar, la comisión de dólar del Colegio Nacional de Buenos Aires. Te explicamos como tratamos tus datos personales, para que no tengas preocupaciones visitando el sitio.",
    },
    canonical: "https://comidolar.com.ar/privacidad",
    noindex: true,
};
---

<Layout metadata={metadata}>
    <h1 class="text-4xl font-bold mb-4 text-center">Política de privacidad</h1>
    <p>En ComiDólar, nos comprometemos a proteger tu privacidad. Esta política describe cómo recopilamos, utilizamos y protegemos tu información cuando visitas nuestro sitio web.</p>

    <h2 class="mt-8 text-2xl">1. Recopilación de Información</h2>
    <p>No recopilamos ninguna información personal identificable de nuestros usuarios. Este sitio no requiere registro ni recopila datos como nombre, dirección de correo electrónico o cualquier otra información personal.</p>

    <h2 class="mt-8 text-2xl">2. Uso de Cookies</h2>
    <p>Este sitio no utiliza cookies ni otras tecnologías de seguimiento. No almacenamos información sobre tus visitas ni registramos tu comportamiento en línea.</p>

    <h2 class="mt-8 text-2xl">3. Enlaces Externos</h2>
    <p>El sitio puede contener enlaces a sitios web de terceros. No nos hacemos responsables por las prácticas de privacidad de dichos sitios y te recomendamos revisar sus políticas de privacidad.</p>

    <h2 class="mt-8 text-2xl">4. Seguridad</h2>
    <p>Tomamos medidas razonables para proteger tu información, aunque, debido a la naturaleza de internet, no podemos garantizar la seguridad absoluta de los datos transmitidos a través de la red.</p>

    <h2 class="mt-8 text-2xl">5. Cambios en la Política de Privacidad</h2>
    <p>Podemos actualizar esta política en cualquier momento. Los cambios serán publicados en esta página, por lo que te recomendamos revisarla periódicamente para estar informado sobre cómo estamos protegiendo tu privacidad.</p>

    <h2 class="mt-8 text-2xl">6. Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos en [correo electrónico o medio de contacto].</p>
</body>
</Layout>
