---
import Layout from "@/layouts/layout.astro";

const metadata = {
    title: "Comi Dólar | Términos y condiciones",
    description: {
        meta: "Términos y condiciones de Comi Dólar, la comisión de dólar del Colegio Nacional de Buenos Aires. Te explicamos los lineamientos que aceptás al ingresar a nuestro sitio.",
        og: "Términos y condiciones de Comi Dólar, la comisión de dólar del Colegio Nacional de Buenos Aires. Te explicamos los lineamientos que aceptás al ingresar a nuestro sitio.",
    },
    canonical: "https://comidolar.com.ar/terminos",
    noindex: true,
};
---
<Layout metadata={metadata}>
    <main>
        <h1 class="text-4xl font-bold mb-4 text-center">
            Terminos y Condiciones
        </h1>
        <p>
            Bienvenid@ a ComiDólar. Al acceder a este sitio web, aceptas los
            siguientes términos y condiciones. Si no estás de acuerdo con estos
            términos, por favor, no utilices este sitio web.
        </p>

        <h2 class="mt-8 text-2xl">1. Uso del Sitio Web</h2>
        <p>
            El contenido de este blog es solo para fines informativos y
            educativos. No nos hacemos responsables por cualquier daño directo o
            indirecto que pueda surgir del uso de la información proporcionada
            en este sitio.
        </p>

        <h2 class="mt-8 text-2xl">2. Propiedad Intelectual</h2>
        <p>
            Todo el contenido de este blog, incluyendo textos, imágenes y otros
            materiales, está protegido por derechos de autor y es propiedad de
            ComiDólar o de los respectivos propietarios de los derechos. No está
            permitido reproducir, distribuir ni modificar el contenido sin el
            permiso expreso.
        </p>

        <h2 class="mt-8 text-2xl">3. Enlaces a Sitios Externos</h2>
        <p>
            Este sitio puede contener enlaces a otros sitios web. No nos
            responsabilizamos por el contenido de esos sitios externos y su uso
            está bajo tu propio riesgo.
        </p>

        <h2 class="mt-8 text-2xl">4. Modificaciones</h2>
        <p>
            Nos reservamos el derecho de modificar estos términos y condiciones
            en cualquier momento. Es tu responsabilidad revisar esta página
            regularmente para estar al tanto de cualquier cambio.
        </p>

        <h2 class="mt-8 text-2xl">5. Exoneración de Responsabilidad</h2>
        <p>
            El uso de este sitio web es bajo tu propio riesgo. No garantizamos
            la exactitud, fiabilidad o disponibilidad del contenido en todo
            momento.
        </p>

        <h2 class="mt-8 text-2xl">6. Ley Aplicable</h2>
        <p>
            Estos términos y condiciones se rigen por las leyes de Argentina. Cualquier disputa relacionada con el uso de este sitio será
            resuelta en los tribunales competentes de Argentina.
        </p>
    </main>
</Layout>