---
import Layout from "../layouts/layout.astro";
import Lore from "../components/Lore.astro";

const metadata = {
  title: "Comi D贸lar | Grupo de Whatsapp",
  description: {
    meta: "Unite al grupo de Whatsapp de la Comision de Dolar del Colegio Nacional de Buenos Aires para enterarte en vivo de las ultimas novedades!",
    og: "Unite al grupo de Whatsapp de la Comision de Dolar del Colegio Nacional de Buenos Aires para enterarte en vivo de las ultimas novedades!",
  },
  canonical: "https://comidolar.com.ar/whatsapp",
  og: {
    image: "https://comidolar.com.ar/assets/img/opengraph/whatsapp.png",
    video: "https://comidolar.com.ar/assets/img/opengraph/video.webm",
  },
};
---

<Layout metadata={metadata}>
  <section class="flex flex-col items-center">
    <a
      class="text-xl rounded-xl w-full flex justify-center bg-zinc-300 dark:bg-darkless"
      href="https://comidolar.com.ar/"
      ><img
        alt="Logo grande de la Comisi贸n de D贸lar del Colegio Nacional de Buenos Aires"
        src="https://comidolar.com.ar/assets/img/wide.webp"
        width="512px"
        height="256px"
      /></a
    >
    <h1 class="text-2xl text-center mt-4 font-semibold mb-4">
      Comi D贸lar | Grupo de Whatsapp
    </h1>
    <a href="https://chat.whatsapp.com/CA29UgWsmr32O0kH6NysG2"
      ><button
        type="button"
        class="btn text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-xl px-24 py-4 hover:scale-110 active:scale-90 transition text-center"
        onclick="join()">Unirme</button
      ></a
    >
  </section>
  <Lore page="whatsapp"/>
</Layout>
