<footer
  transition:persist
  class="bg-white rounded-lg shadow mt-4 dark:bg-darkless flex items-center w-full justify-between px-6 py-2"
>
  <img alt="Logo ancho de ComiDolar" width="128px" src="/assets/img/wide-c.webp" />
  <div class="max-w-screen-xl md:flex md:items-center md:justify-between">
    <span
      class="text-sm flex flex-col text-zinc-600 sm:text-center dark:text-zinc-400"
    >
      ComiDolar Bundle Version 3.4.5 (stable)
      <div class="text-zinc-600 dark:text-zinc-200 mt-2 sm:hidden">
        <p>
          <a
            class="font-bold hover:text-green-500 transition"
            href="https://github.com/GenaDeev/"
            referrerpolicy="no-referrer"
            target="_blank">©GenaDev</a
          > & <a
            class="font-bold hover:text-green-500 transition"
            href="https://genahost.vercel.app/"
            referrerpolicy="no-referrer"
            target="_blank">®GenaHost</a
          >
          {new Date().getFullYear()}
        </p>
        <p>Todos los derechos reservados</p>
      </div>
    </span>
  </div>
</footer>
